//Navigation

.mainNav {
  margin: 1.6% 14% 0 14.6%;
  padding-bottom: 20px;
  text-align: center;

  .logo {
    font-weight: 900;
    font-size: 1.1rem;
    float: left;
    width: 25%;
    margin-top: 0.2%;
  }

  .navItems {
    float: left;
    width: 49%;
    margin-left: 2.1%;

    li {
      margin-left: -2%;
      display: inline-block;
      font-size: 0.55rem;

      a {
        color: $deepBlue;

        &:hover {
          color: lighten($deepBlue, 40);
          cursor: pointer;
        }
      }
    }
  }

  .navSignUp {
    float: left;
    width: 23%;
    text-align: left;
    margin-left: -20px;

    li {
      display: inline-block;
      font-size: 0.6rem;

      a.JoinUs {
        color: $deepBlue;

        &:hover {
          color: lighten($deepBlue, 40);
        }
      }

      .navBtn {
        border: none;
        color: $deepBlue;
        background: $goldYellow;
        padding: 11px 15px 11px 28px;
        border-radius: 5px;

        &:hover {
          background: lighten($goldYellow, 10);
          cursor: pointer;
        }
      }
    }
  }
}
